<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>FEUR</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style_accueil.css') }}">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Sono&display=swap" rel="stylesheet">
		<script src="{{ url_for('static', filename='js/script_accueil.js') }}"></script>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
		<style>
			@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
			</style>
	</head>

	<body>
		<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><logo1><img src="{{ url_for('static', filename='img/CALCULATOR.png') }}" style="width:100px;height:100px;z-index: 100000;"></logo1></a>	
		<logo2><img src="{{ url_for('static', filename='img/mrvrai-removebg-preview (1).png') }}" style="width:100px;height:100px;"></logo2>

		<div class="hero-div">	
		<div class="fleche"></div>
			<cercle class="animec"></cercle>	
				<div class="hero-text">
					<h1>Bienvenue</h1>
					<p>Fantastique Expositeur Ultime de Résultats</p>
				</div>
		</div>
		<button onclick="window.location.href = '/mainpage';">G O  !</button></a>
	</body>
</html>
