<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Nos dévelofeurs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Styledev.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
		<style>
			@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
		</style>
</head>

<h1>
Nos DéveloFEURs : 

</h1>
<div>
<dev>
<h2>
    Adam
</h2>
<img src="{{ url_for('static', filename='img/Adam.jpg') }}" style="width:50vw;height: 80vh">
<p>
Adam Salek aussi connu sous l'alias de "Dadou" a donné au projet une dimension humaine et a partagé avec chacun son savoir immense sur le domaine de la nature et de l'immobilier
</p>
</dev> 

<dev>
<h2> Antoine
</h2>
<img class="antoine" src="{{ url_for('static', filename='img/Antoine.jpg') }}" style="width:50vw;height: 80vh;height: 80vh">
<p>
    Antoine Buret a su pourvoir au site FEUR la courbe représentatrice de la fonction délibéremment choisie par le bienveillant utilisateur en alliant sa connaissance de Java Script avec sa rapidité de dactylographie.
</p>
</dev> 

<dev>
<h2> André-Mathys
</h2>
<img src="{{ url_for('static', filename='img/AM.jpg') }}" style="width:50vw;height: 80vh">
<p> André-Mathys plus connu comme AM s'est occupé avec brio de l'évaluateur (il est très fort et sa chevelure ne laisse pas indifférent)
</p>
</dev> 

<dev>
<h2>Arture
</h2>
<img src="{{ url_for('static', filename='img/Arthur.jpg') }}" style="width:50vw; height: 80vh">
<p>Arthur bidault digne succésseur de la ferme bidault nous a fait profiter d'un savoir incommsensurable sur les volailles
</p>
</dev> 

<dev>
<h2>Geoffroy
</h2>
<img class="geoffroy" src="{{ url_for('static', filename='img/Geoffroy.jpg') }}" style="width:50vw;height: 80vh">
<p> Voila c'est Geoffroy
</p>
</dev> 

<dev>
<h2>Nathan
</h2>
<img src="{{ url_for('static', filename='img/Nathan.jpg') }}" style="width:50vw;height: 80vh">
<p> Nathan a consommé pendant le projet le PIB du Mozambique en RedBull.
</p>
</dev> 

<dev>
<h2>Gaspard
</h2>
<img src="{{ url_for('static', filename='img/Gaspard.jpg') }}" style="width:50vw;height: 80vh">
<p> Gaspard ou Gasp pour les intimes a été un réel "carry" pour le projet : il est trop fort ( ça dégoute aled)
</p>
</dev> 

<dev>
<h2>Yuzhe
</h2>
<img src="{{ url_for('static', filename='img/Yuzhe.jpg') }}" style="width:50vw;height: 80vh">
<p> En plus d'être immensément fort en développement, Yuzhe Zhu est triple champion du monde de Badminton. On peut l'apercevoir ici à coté de son accolyte juste après avoir remporté le Back to Back to Back
</p>
</dev> 

<dev>
<h2> ElVIn
</h2>
<img class="antoine" src="{{ url_for('static', filename='img/Elvin.jpg') }}" style="width:50vw;height: 80vh">
<p> AHAH trop bien Elvin 
</p>
</dev> 

<dev>
<h2> Paul
</h2>
<img src="{{ url_for('static', filename='img/Paul.jpg') }}" style="width:50vw;height: 80vh">
<p> Paul Martineau Le Moine a un nom plus long que tout le code qu'il a produit pour le projet.
</p>
</dev> 

</div>

</html>
